        <!-- Foot Note Start -->
        <div class="foot-note">
            <div class="container">
                <div
                    class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                    <p class="mb-0" data-aos="fade-right" data-aos-offset="0"><h2>Made by Trac-2019 batch</h2>
                    
                   
                </div>
            </div>
        </div>
        <!-- Foot Note End -->
    </footer>
    <!-- Footer Endt -->
    <!--jQuery-->
    <script src="js/jquery-3.3.1.js"></script>
    <!--Plugins-->
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/loaders.css.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/lightgallery-all.min.js"></script>
    <!--Template Script-->
    <script src="js/main.js"></script>
</body>

</html>