<%- include('partials/header'); -%>
   
<div >
<h1>About us<h1>
<h8>The Radio Astronomy Club (TRAC) is a team of passionate undergraduate students working towards research in the interdisciplinary field of astrophysics and other electronics fields. It is a unique blend of Astrophysics, Astronomy, Machine Learning, and Electronics. Affiliated with the EEE Department, we have been working on instrumentation and data analysis in the Radio and Gravitational Wave (GW) domains of Astrophysics. In the past, we have been working in collaboration with the Raman Research Institute (RRI), Bangalore.<br>
     Our team has been working on 3 major domains as follows:

    Data Analysis and Computing 
           The data analysis part comprises of digital signal processing and machine learning-based algorithms on the data obtained from the instrumentation domain with the objectives as follows:
    Develop an image processing pipeline in Python for the imaging of radio sources by processing the data obtained from the SWAN (Sky Watch Array Network) radio telescope.
    Preprocessing and Analysis of Gravitational Wave data available from LIGO Open Science Centre, participating in Official LIGO data analysis workshops, etc.
    Design, develop, and implement a deep learning algorithm to replace existing algorithms such as matched filtering and Bayesian inference for gravitational wave detection and parameter estimation.
    Radio astronomy data analysis using tools such as CASA, which is an active software used for Radio astronomy research worldwide (VLA, ALMA, etc.)
    Electrical, Electronics, and Instrumentation
    Studying, implementing, and improving the design of the SWAN RF receiver system to obtain radio astronomy data in collaboration with RRI lab in Bangalore and the faculty at BITS.
    Antenna Designing as well as satellite RF communication projects using SDRs (Software Defined Radios), LNAs (Low Noise Amplifiers) using active support from the EEE department. 
    Microprocessor Architecture implementation using Hardware Description Language (HDL). This involves the implementation of MIPS Architecture using Pipelined Data Path in Verilog, handling Data hazards by data forwarding, out of order execution by the Tomasulo algorithm.
    Physics 
    In the physics domain, we mainly focus on deriving inferences from the results obtained from the data analysis and acts as a backbone for the projects.  
    Blogging and Content Management
    Students having a keen interest in blogging and content writing can help the team in maintaining our blog site and explore new topics along the way.</h8>

</div>
<%- include('partials/footer'); -%>