<%- include('partials/header'); -%>
<section class="hero" style="padding:20px";>
<link rel="stylesheet" href="css/blog.css">
<br><Br><br>
<br>



<section class="blog_row">

<h1 class ="title">Blogs

</h1>
<div class="row">
<div class="column">
<div class="blog-card">
	<img class="blog-img" src="images/radio_astronomy.jpg" >
	<div class="text-overlay">
		<h2>lorem ipsum</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales pos
	uere felis non efficitur. Mauris mollis elit urna, id tempus... &nbsp;&nbsp;<a h
	ref="#" class="read-more">Read More</a></p>
	</div>
</div>
</div>
<div class="column">
<div class="blog-card">
	<img class="blog-img" src="images/radio_astronomy.jpg" >
	<div class="text-overlay">
		<h2>lorem ipsum</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sod
	ales posuere felis non efficitur. Mauris mollis elit urna, id tempus... &nbsp;&nbsp;<a 
	href="#" class="read-more">Read More</a></p>
	</div>
</div>
</div>
<div class="column">
<div class="blog-card">
	<img class="blog-img" src="images/radio_astronomy.jpg" >
	<div class="text-overlay">
		<h2>lorem ipsum</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellu
	s sodales posuere felis non efficitur. Mauris mollis elit urna, id
		tempus... &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
	</div>
</div>
</div>
</div>
</section></section>





<%- include('partials/footer'); -%>