<%- include('partials/header'); -%>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">  
   <label>Title</label>
       <input type="text" class="form-control" name="postTitle"></input>
    <label>Post</label>
    <textarea rows=5 cols=30 name="post" class="form-control"></textarea>
     </div>   

       <button type="submit" name="button" class="btn btn-primary">Publish</button>
    
</form>

<%- include('partials/footer'); -%>