<%- include('partials/header'); -%>

<br>
<br>
<br>
<br>
<br>
<br>
<h1>Compose</h1>
<form class="" action="/blog/compose" method="post">

<div class="form-group">  
  <label>Title</label>
      <input type="text" class="form-control" name="postTitle"></input>
  <label>Post</label>
  <textarea rows=5 cols=30 name="postBody" class="form-control"></textarea>
  <label>Password</label>
    <input type="text" class="form-control" name="password"></input>
    </div>   

      <button type="submit" name="button" class="btn btn-primary">Publish</button>
  
</form>
</div>
</section>
<%- include('partials/footer'); -%>
<style>
  body{
    background-color: blueviolet;
  }
</style>