<%- include('partials/header'); -%>  
    <div id="animation">
     <canvas id="canvas2"></canvas>
     <canvas id="canvas1"></canvas>
    </div>
 <section class="hero" >
    <div class="container">   
          <div class="row">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-content d-flex ">
                            <div class="single-slide">
                                <div class="text-container">
                                   <div class="text-effect">
                                       <span>A</span>
                                        <span>B</span>
                                        <span>O</span>
                                        <span>U</span>
                                        <span>T</span>
                                        <span> &nbsp;</span>
                                        <span>U</span>
                                         <span>S</span>
                                    </div>
                               </div>
                                <div class="hero-text"><h4>The Radio Astronomy Club (TRAC) is a team of passionate 
                                    undergraduate students working towards research in the interdisciplinary field of astrophysics and other electronics fields. It is a unique blend of Astrophysics, Astronomy, Machine Learning, and Electronics. Affiliated with the EEE Department, we have been working on instrumentation and data analysis in the Radio and Gravitational Wave (GW) domains of Astrophysics.
                                    In the past, we have been working in collaboration with the Raman Research Institute (RRI), Bangalore</h4>
                               </div>
                               <div class="button"><a data-aos="fade-right" data-aos-delay="500" href="#" class="btn btn-primary">
                                   <h6>Join our<br> Newsletter
                                  </h6>
                                </a>
                                <a data-aos="fade-right" data-aos-delay="500" href="#" class="btn btn-primary">
                                    <h6>Recent<br>Updates</h6>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>
<!-- Hero End -->
<%- include('partials/footer'); -%>