
<%- include('partials/header'); -%>
<section class="hero" style="padding:60px";>
    <div class="container" style="padding:120px">
  <h1><%-title%></h1>
  <p><%-content%></p>
</div>
</div>
</section>
<%- include("partials/footer"); -%>