<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>TRAC</title>
    <link rel="icon" href="images/logo.png" type="image/icon type">
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/aos/aos.css">


    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/projects.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">




<body>
    <div class="overlay_loader" id="l">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="position-absolute w-100">
        <div class="container">

            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/"><img src="/images/logo2.png" style="object-fit: contain;"
                        alt="Multipurpose" height=100px" width="100px"></a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>


                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>




                    </ul>
                    <form class="bg-white search-form" method="get" id="searchform">
                        <div class="input-group">
                            <input class="field form-control" id="s" name="s" type="text" placeholder="Search">
                            <span class="input-group-btn">
                                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                    value="Search">
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section class="page-content">
        <div class="page-title">
            <h1>Projects</h1>
        </div>
        <div class="project-grid">
            <div class="project">
                <h3>
                    SWAN
                </h3>
                <p>

                    The Indian Sky Watch Array Network (SWAN) is a project led by Raman Research Institute (RRI)
                    Bangalore, with a primary aim of providing exposure to undergraduate students in the field of Radio
                    Engineering and Radio Astronomy. The project plans on
                    setting up Radio Telescopes in educational institutions across India, thus fulfilling the dream of
                    Radio Astronomy pioneer, Dr Govind Swarup of setting up Very Large Baseline Interferometry (VLBI) in
                    the Indian subcontinent. BITS-Pilani, Pilani Campus,
                    became a part of SWAN project following the visit of Dr Avinash Deshpande, the father of SWAN
                    project, and the recipient of Shanti Swarup Bhatnagar Prize (The highest Indian civilian award for
                    scientific research), to
                    the campus in the month of April 2016. Please refer to this link for more information.
                </p>
            </div>
            <div class="project">
                <h3>
                    LIGO
                </h3>
                <p> BITS, Pilani is one of the pioneer institutes working towards gravitational wave (GW) research. Many
                    faculty members and alumni from all three campuses have become a part of the LIGO Scientific Coll
                    aboration (LSC). TRAC is working on various research projects under the guidance of professors from
                    IUCAA, Pune and the Department of Physics.
                    Objective: The club is working towards gravitational wave research in both physics and data analysis
                    domains and looking forward to exploring the instrumentation domain also. We have the following
                    objectives:
                    Provide exposure to undergraduate students towards cutting edge research in gravitational waves.
                    Train undergraduate students to deal and work with LIGO data.

                    Projects: Here is a brief description of ongoing projects and activities:
                    Learning the LIGO tools to process the time series strain data collected by Hanford, Livingston and
                    Virgo observatories.
                    Develop an artificial neural network for efficient detection of gravitational waves from highly
                    noisy data.
                    Participating in Vigyan Samagam - Mega Science Project exhibition by the Government of India.

                </p>
            </div>
            <div class="project">
                <h3>
                    NASA Radio Jove
                </h3>
                <p>
                    Radio JOVE
                    students and amateur scientists observe and analyze natural radio emissions of Jupiter, the Sun, and
                    our galaxy. You can find
                    more details here. With Radio JOVE one can build and use your own Decametric Radio Telescope.
                </p>
            </div>
            <div class="project">
                <h3>
                    SID
                </h3>
                <p>
                    The SuperSID (Sudden Ionospheric Disturbances) monitor, created in collaboration between the
                    Stanford Science Center and Society of Amateur Radio Astronomers is used to detect solar-induced
                    ionospheric disturbances and understand the effects of solar activity and thunderstorm phenomena on
                    the Earth’s ionosphere.
                    A loop antenna present on FD2 terrace acts as a receiver for VLF radio signals which are then fed
                    into a high definition sound card. The SuperSID software plots real-time frequency vs intensity
                    plots and stores intensity plots at particular frequencies throughout the day.

                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="flex-container">
            <div class="card">
                <img src="/images/TELESCOPE_2.png" alt="footer_logo">
                <h3>Find Us On</h3>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="credentials">
                <div class="contact-icon">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                    <h3>The Radio Astronomy Club (TRAC)</h3>
                    <p>BITS PILANI,
                        Vidya Vihar, Pilani, Rajasthan<BR>PIN-333031

                    </p>
                </div>
            </div>
            <div class="resources">
                <div class="section-heading">
                    <h3>Resources</h3>
                    <span class="animate-border border-black"></span>
                </div>
                <ul>
                    <li>
                        <a href="#">Github</a>
                    </li>
                    <li>
                        <a href="#">Google Drive</a>
                    </li>
                    <li>
                        <a href="#">Project References</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </footer>

    <!--jQuery-->
    <script src="/js/loader.js"></script>

    <!--Plugins-->


</body>

</html>