<%- include('partials/header'); -%>
<link rel="stylesheet" href="css/team.css">
<div class="container d-flex justify-content-center " style="padding:250px;">
        
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5 mb-5">
                <div class="text-center"> <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">Maria Smantha</h3> <span class="mt-1 clearfix">Android Developer</span> <small class="mt-4">I am an android developer working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/xELPaag.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">Simona Disa</h3> <span class="mt-1 clearfix">Graphics Designer</span> <small class="mt-4">I am an Graphics Designer working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">John Smith</h3> <span class="mt-1 clearfix">Java Architect</span> <small class="mt-4">I an an Java Architect working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>