


/*-----------------------------------
    1 - Header
------------------------------------*/
body {
  height:100vh;
  }
  
  header {
    background-color: rgba(26 , 10, 56,1);
    color: #fff;
    z-index: 1;
  }
  
  header a {
    color: #fff;
  }
  
  
  
  .nav-link {
    font-family: "Rajdhani", sans-serif;
    font-size:2vh;
    text-transform: uppercase;
  }
  
  .navbar-brand img {
    width: 135px;
    height: 14vh;
  }
  
  .navbar-collapse .search-form input[type="text"] {
    border: 1px solid #ced4da;
    color: #333;
    padding: 1.5625rem 0.625rem;
  }
  
  .navbar-collapse .search-form .btn {
    margin-top: 0;
    border-radius: 0;
    margin-left: -1px;
  }
  
  .navbar-collapse .nav-link {
    font-size: 1.125rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-collapse .nav-link:hover {
    color: green;
  }
  
  
  .search-icon {
    color: #fff;
    font-size: 1.5rem;
  }
  
  
  .search-icon:hover {
    color: #ee1515;
  }
  
  
  
  form input.btn-primary:hover,
  form button.btn-primary:hover {
    background-color: #fff;
    color: #ee1515;
  }
 