
.post-title{
  padding-top:3vh;
  
  
  position:relative;
  padding-bottom: 4vh;
  color:rgb(219, 5, 5);
  text-align: center;

}
@media only screen and (min-width: 500px) {
  header >.container{
  max-width:92%;
}
}
.post-title>h2{
  color: red;
  font-size: 3.5rem;
  text-shadow: rgb(70, 3, 3) 4px 2px;
}
.title-captions>h4{
  font-size:1.2rem;
}
.post-image{
 padding:1.5vmin;
 text-align:center;
}
.post-image>h4{
  color:rgb(197, 185, 185);
  font-size:1.2rem;
  margin-top:1vh;
}
.post-image>img{
  
  align-items: center;
 
  
  display: block;
   margin: 0 auto;
  
  width:30%;
  border-radius: 2vw;
border:red 3px dotted;
}
.post-content>p{
  text-align: left;
}
.post-content{
  color:rgb(207, 204, 204);
  margin:20vh 25vh 25vh 25vh ;
    position: relative;
    height: 100%;
    
    z-index: 100;
    text-align: left;
    font-size: 1.3rem;
}
.subheading{
  color:white;
  text-shadow: 0 0 4px red;
  margin:4vmin 3vmin 0.3vmin 3vmin;
  text-align: center;
}
/*-----------------------------------
    1 - Header
------------------------------------*/



header{

top:0px;
  background: black;
  color: #fff;
  z-index: 1000;
}

header a {
  color: rgb(112, 5, 5);
}



body{
  
background: linear-gradient(0deg, rgb(17, 16, 16) 0%,rgb(15, 15, 15) 50%, rgb(17,16,16) 100%);
  margin: 0;
  overflow-x: hidden;
  
}

.navbar-brand img {

  height: 14vh;
}
.navbar-collapse .search-form input[type="text"] {
  border: 1px solid #ced4da;
  color: #333;
  padding: 1.5625rem 0.625rem;
}

.navbar-collapse .search-form .btn {
  margin-top: 0;
  border-radius: 0;
  margin-left: -1px;
}
.navbar-collapse .nav-link {
  font-family: 'Rajdhani';
  font-size: 1.225rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.navbar-collapse .nav-link:hover {
  color: green;
}
.search-icon {
  color: #fff;
  font-size: 1.5rem;
}
.search-icon:hover {
  color: #ee1515;
}
form input.btn-primary:hover,
form button.btn-primary:hover {
  background-color: rgb(53, 2, 33);
  color: #ee1515;
}
.footer{
width:100%;
background-color: black;

}
.flex-container{
  display: flex;
  flex-wrap: wrap;
 height: min-content;
  background-color: black;
 justify-content:space-around;
 align-items: flex-start;

}
.flex-container>.card{
  z-index: 100;
  position: relative;
  background: rgb(36, 34, 34);
width: 22%;
 padding-left:2vmin;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top:-50px;
padding-bottom: 3vmin;
margin-bottom: -30px;
}
.card>img{
width:80%;
margin-top: 20px;
height: 190px;
padding:1vmin;
object-fit: fill;
}
.card>h3{
  margin-top: 30px;
  color: white;
  font-size: 01.5em;
  padding:2vmin 0 2vmin 4vmin;
  
  align-self: flex-start;
}
.credentials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding:5vmin 3vmin 3vmin 3vmin;

} .contact-info{
  text-align: center;
}
.contact-info >p{
  color: white;
}
.contact-icon i {
  font-size: 24px;
 padding:2vmin;
  position: relative;
  color:red; }
.resources{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
  padding:7vmin 4vmin 4vmin 4vmin;
  
}
.section-heading>h3{
  font-size: 1.7em;
}
.resources ul{
  width: 50%;
float: left;
list-style: none;
margin-top: 20px;
padding: 0; 
}
.resources li{
  margin-bottom: 18px;
  
}
.resources li a{
  color: grey;
}
.card ul li a i{
    display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  
  color: #fff; }
   .card ul li a i.fa-facebook {
    background-color: #3B5998; 
  }
   
   .card ul li a i.fa-linkedin {
    background-color: #0976B4; 
  }
  .card ul li a i.fa-instagram {
    background-color: #B7242A;
  }
.card >ul>li{
  display: inline-block;
  margin: 2px;
}
.card>ul{
  margin: 0;
  padding: 0;
  padding-left: 3vmin;
  align-self: flex-start;
  
  
}
.animate-border {
position: relative;
display: block;
width: 115px;
height: 2px;
margin: 1px;
background: #ff0000; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 2px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(70px);
  transform: translateX(70px); } }


.animate-border.border-orange:after {
border-right-color: #ff0015;
border-left-color: #ff3300; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 
@media only screen and (max-width:600px){
  .post-content{
    margin: 20vh 5vh 5vh 5vh;
    font-size: 1.4rem;
  }
.post-image>img{
  width:50%;
  
}
}