
/*-----------------------------------
    1 - Header
------------------------------------*/



header {
  
  color: #fff;
  z-index: 1000;
}

header a {
  color: rgb(112, 5, 5);
}



.nav-link {
  color: red;
  
  
  font-family: "Rajdhani";
  text-transform: uppercase;
}

#animation{
     position:relative;
     top:0;
    left:0;
    height: 100vh;
    width:100vw;
    overflow: hidden;
}
#canvas1{
    position:absolute;
    top:0;
    left:0;
    z-index:4;

}

#canvas2{
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index:0;
    background: radial-gradient(circle, rgba(0,0,0,0) 88%, rgba(0,0,0,0.45) 100%),
						linear-gradient(180deg, rgb(0, 0, 0) 40%, rgb(98, 12, 129) 100%);
 
}

body{
  margin: 0;
  overflow-x: hidden;
  
}
.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.navbar-brand img {
  width: 135px;
  height: 14vh;
}
.navbar-collapse .search-form input[type="text"] {
  border: 1px solid #ced4da;
  color: #333;
  padding: 1.5625rem 0.625rem;
}

.navbar-collapse .search-form .btn {
  margin-top: 0;
  border-radius: 0;
  margin-left: -1px;
}
.navbar-collapse .nav-link {
  font-size: 1.225rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.navbar-collapse .nav-link:hover {
  color: green;
}
.search-icon {
  color: #fff;
  font-size: 1.5rem;
}
.search-icon:hover {
  color: #ee1515;
}
form input.btn-primary:hover,
form button.btn-primary:hover {
  background-color: #fff;
  color: #ee1515;
}

/*-----------------------------------
    1 - Hero
------------------------------------*/
.hero {
  background-color:  rgb(34, 3, 36);
 /* background: url("../images/bgimage.jpg") no-repeat center;*/
  background-size: cover;
  overflow: visible;
  position: relative;
  z-index: -1;
  top:100%
  
}
.hero .container {
  position: relative;
  z-index: 1;
}

.hero .slide-content {
  min-height: 600px;
  color: #fff;
}
.hero .slide-content span {
  color: #ee1515;
}
.hero .slide-content h1 {
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.56);
  text-transform: uppercase;
  -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
          transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
  font-weight: bold;
}
.hero .slide-content p {
  color: #170936;
  -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
          transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
  padding: 35px 0 35px 30px;
  background-color: rgba(255, 255, 255, 0.51);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0;
}
.hero .slide-content .btn {
  margin-top: 50px;
}
.hero .slide-content .btn:last-child {
  margin-left: 30px;
}
.hero .arr-left,
.hero .arr-right {
  font-size: 3rem;
  display: block;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 85%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}
.hero .arr-left:hover,
.hero .arr-right:hover {
  cursor: pointer;
}
.hero .arr-right {
  right: 15px;
}
.hero .diag-bg {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 100%, 100% 0);
background-color:  rgb(90, 10, 119) ;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero .texture {
  width: 100%;
  height: 100%;
  background: url("../images/hero-texture.png") no-repeat center;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: 29%;
}

.hero::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: 58%;
}
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 30 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/*-----------------------------------
    1 - Foot Note
------------------------------------*/
.footer-widget p {
  margin-bottom: 27px;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
color:white;
  line-height: 28px;
}
 .animate-border {
position: relative;
display: block;
width: 115px;
height: 3px;
background: #ff0000; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 3px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(70px);
  transform: translateX(70px); } }

.animate-border.border-white:after {
border-color: #fff; }

.animate-border.border-yellow:after {
border-color: #F5B02E; }

.animate-border.border-orange:after {
border-right-color: #ff0015;
border-left-color: #ff3300; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 

.dk-footer {
padding: 75px 0 0;
background-color: #0f0f0f;
position: relative;
z-index: 2; }
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px; }
  .dk-footer .contact-us .contact-info {
    margin-left: 50px; }
  .dk-footer .contact-us.contact-us-last {
    margin-left: -80px; }
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color:red; }

.dk-footer-box-info {
position: absolute;
top: -122px;
background: #202020;
padding: 40px;
z-index: 2; }
.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.dk-footer-box-info .footer-social-link li {
  display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
  .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
  .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39; }
  .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A; }

.footer-awarad {
margin-top: 285px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 0;
-webkit-flex: 0 0 100%;
-moz-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }
.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px; }

.footer-info-text {
margin: 26px 0 32px; }

.footer-left-widget {
padding-left: 80px; }

.footer-widget .section-heading {
margin-bottom: 35px; }

.footer-widget h3 {
font-size: 24px;
color: #fff;
position: relative;
margin-bottom: 15px;
max-width: -webkit-fit-content;
max-width: -moz-fit-content;
max-width: fit-content; }

.footer-widget ul {
width: 50%;
float: left;
list-style: none;
margin: 0;
padding: 0; }

.footer-widget li {
margin-bottom: 18px; }

.footer-widget p {
margin-bottom: 27px; }

.footer-widget a {
color: #878787;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; }
.footer-widget a:hover {
  color: red; }












